/*

	Stylesheet for [PROJECT]

	author:     Ad Eggermont <adeggermont@gmail.com>

*/

/*
	Reset
*/

article, aside, dialog, figure, footer, header, hgroup, nav, section, main { display: block; }
body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address, figure { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border:0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }

/*
	Clearfix
*/

.clearfix:after,
.container:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix,
.container {
	zoom: 1;
}

/*
	General
*/

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(/js/boxsizing.htc); /* Absolute path to htc file */
}

body {
	font-family:"Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #000;
	background: #FFF;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

::-moz-selection {
	background-color: #333333;
	color: #d9d9d9;
	text-shadow: none;
}

::selection {
	background-color: #333333;
	color: #d9d9d9;
	text-shadow: none;
}

.old-browser-warning {
	color: #FFF;
	background-color: #BA1E1E;
	padding: 30px 0 15px;
	text-align: center;
}

	.old-browser-warning p {
		padding: 0 0 15px 0;
	}

		.old-browser-warning a,
		.old-browser-warning a:visited {
			color: #fff;
			border-color: pink;
		}

		.old-browser-warning a:hover,
		.old-browser-warning a:active,
		.old-browser-warning a:focus {
			color: #fff;
			border-color: #fff;
		}

/*
	Typography and text styles
*/

/* General */

p {
	padding: 0 0 12px 0;
}

th, thead td {
	font-weight: 700;
}

/* Headings */

h1 {
	font-size: 22px;
	padding: 0 0 12px 0;
}

h2 {
	font-size: 17px;
	padding: 0 0 12px 0;
}

h3 {
	font-size: 14px;
	padding: 0 0 12px 0;
}

h4 {
	font-size: 12px;
	padding: 0 0 12px 0;
}

/* Links */

a,
a:visited {
	text-decoration: none;
	color: #0033CC;
	border-bottom: 1px solid #89ACCC;
}

a:hover,
a:active,
a:focus {
	color: #0033CC;
	border-color: #0033CC;
}

/* .content defaults */

ul {
	list-style: disc;
	padding: 0 0 12px 12px;
}

ol {
	list-style-type: decimal;
	padding: 0 0 12px 12px;
}

dl {
	padding: 0 0 12px 12px;
}

ul ul,
ul ol,
ol ul,
ol ol {
	padding-bottom: 0;
}

code {
	font-family: Monaco, "Courier New", monospace;
}

pre {
	font-size: 12px;
	line-height: 18px;
	background: #F5F5F5;
	margin: 0 0 12px 0;
	padding: 10px;
}

blockquote,
q {
	font-style: italic;
	color: #666;
}

blockquote {
	padding: 0 10px;
	padding: 12px 0;
}

cite,
em {
	font-style: italic;
}

table {
	width: 100%;
}

	td,
	th {
		border-bottom: 1px solid #999;
		padding: 4px;
	}

	th {
		font-weight: 700;
	}

/*
	Page structure and layout
*/

.container {
	width: 960px;
	margin: 0 auto;
}

/*
	Header
*/

	/* Logo */

	#logo {
		float: left;
	}

		#logo h1,
		#logo p {
			width: 0px;
			height: 0px;
			background: url(../images/logo.png) no-repeat;
			text-indent: -9999px;
			padding: 0;
		}

			#logo h1 a,
			#logo p a {
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				border: none;
			}

	#printLogo {
		display: none;
	}

	/* Navigation */


/*
	Content
*/


/*
	Footer
*/


/*
	Pagination
*/

.pagination {
	width: 100%;
	overflow: hidden;
	border: 0;
	padding-top: 20px;
}

.ie6 .pagination {
	width: auto;
}

	.pagination header {
		position: absolute;
		top: -9999px;
		left: -9999px;
		text-indent: -9999px;
	}

	.pagination .bd {
		float: left;
		position: relative;
		left: 50%;
	}

	.ie6 .pagination .bd {
		position: static;
	}

		.pagination ul {
			padding: 0 0 12px 0;
			overflow: hidden;
			position: relative;
			left: -50%;
		}

		.ie6 .pagination ul {
			position: static;
		}

			.pagination li {
				float: left;
				margin: 0 4px 0 0;
				line-height: 15px;
				font-size: 12px;
				font-size: 11px;
				line-height: 1.636;
				text-align: center;
			}

			.pagination li.previousPage span,
			.pagination li.nextPage span {
				float: left;
				padding: 5px 8px;
				min-width: 12px;
				border: 1px solid #d8d8d8;
				background: #ebebeb;
				color: #666;
				   -moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				        border-radius: 5px;
			}

				.pagination li.currentPage span {
					float: left;
					padding: 5px 8px;
					min-width: 12px;
					border: 1px solid #d8d8d8;
					background: #ebebeb;
					font-weight: 700;
					   -moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					        border-radius: 3px;
				}

				.pagination li.ellipsis span {
					float: left;
					padding: 6px 4px 4px 4px;
					min-width: 12px;
					color: #666;
				}

				.pagination li a,
				.pagination li a:visited {
					float: left;
					padding: 5px 8px;
					min-width: 12px;
					border: 1px solid #d8d8d8;
					background: #fff;
					   -moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					        border-radius: 5px;
					   -moz-background-clip: padding;
					-webkit-background-clip: padding-box;
					        background-clip: padding-box;
				}

				.pagination li a:hover,
				.pagination li a:active,
				.pagination li a:focus {
					border: 1px solid #a3a3a3;
				}

/*
	Form styles
*/

input.input-text,
textarea {
	color: #285d95;
	border-color: #285d95;
	border-style: solid;
	border-width: 1px;
	padding: 0 5px;
	height: 27px;
	line-height: 1;
	margin: 0;
	background-color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: italic;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ie7 input.input-text,
.ie8 input.input-text {
	line-height: 27px;
}

textarea {
	line-height: 1.5;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 150px;
}

input.input-text:focus,
textarea:focus {
	border-color: #153250;
	outline: none;
	font-style: normal;
}

input.input-submit,
.button a,
.button a:visited {
	cursor: pointer;
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #FFF;
	display: block;
	outline: 0;
	padding: 0 11px;
	height: 27px;
	line-height: 1;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	background: #3a96d6;
	border: 1px solid #205791;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ie7 input.input-submit,
.ie8 input.input-submit {
	line-height: 27px;
}

.button a,
.button a:visited {
	line-height: 25px;
	float: left;
}

input.input-submit:hover,
.button a:hover,
.button a:active,
.button a:focus {
	background: #205791;
}

select {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #404040;
}

.input-list input {
	margin: 0 3px 0 0;
}

/* Messages */

.msg {
	padding: 12px 12px 0 12px;
	margin-bottom: 12px;
	color: #333;
	background-color: #fff;
	border: 1px solid #CCC;
	position: relative;
}

	.msg ul {
		list-style: disc;
		padding-left: 20px;
		padding-bottom: 6px;
	}

	.msg ul li {
		background: none;
		padding-left: 0;
		padding-bottom: 6px;
	}

	/* Error messages */

	.error {
		color: #FFF;
		background-color: #BA1E1E;
		border-color: #861616;
	}

	.error h1,
	.error h2,
	.error h3,
	.error h4 {
		color: #fff;
	}

		.error a {
			color: #fff;
			border-color: #df5c54;
		}

		.error a:link,
		.error a:visited {
			color: #fff;
			border-color: #df5c54;
		}

		.error a:hover,
		.error a:active,
		.error a:focus {
			color: #fff;
			border-color: #fff;
		}

	/* Success messages */

	.success {
		color: #FFF;
		background-color: #72aa2e;
		border-color: #5b8725;
	}

	.success h1,
	.success h2,
	.success h3,
	.success h4 {
		color: #fff;
	}

		.success a {
			color: #fff;
			border-color: #a0c673;
		}

		.success a:link,
		.success a:visited {
			color: #fff;
			border-color: #a0c673;
		}

		.success a:hover,
		.success a:active,
		.success a:focus {
			color: #fff;
			border-color: #fff;
		}

	/* Notice messages */

	.notice {
		color: #404040;
		background-color: #ffe38a;
		border-color: #a7955a;
	}

	.notice h1,
	.notice h2,
	.notice h3,
	.notice h4 {
		color: #404040;
	}

		.notice a {
			color: #404040;
			border-color: #ab985d;
		}

		.notice a:link,
		.notice a:visited {
			color: #404040;
			border-color: #404040;
		}

		.notice a:hover,
		.notice a:active,
		.notice a:focus {
			color: #000;
			border-color: #000;
		}

/*
	General classes
*/

.hidden { display: none; }
.block { display: block; }
.noPadding { padding: 0 !important; }
.noMargin { margin: 0 !important; }
.floatLeft { float: left; }
.floatRight { float: right; }
.noBorder { border: none; }
#skip, .accessibility { position: absolute; top: -9999px; left: -9999px; } /* For screenreaders */

/*
	Image classes
*/

img.alignLeft {
	float: left;
	padding: 0 10px 10px 0;
}

img.alignRight {
	float: right;
	padding: 0 0 10px 10px;
}

.linkedImage {
	display: block;
	border: none !important;
}

	.linkedImage img {
		display: block;
	}

/*
	Print styles
*/

@media print {
	* {
		color: #000 !important;
		float: none;
		text-shadow: none;
	}

	div {
		background-color: white !important;
	}

	/* place the divs and elements you want to hide here */
	#skip, #headerNavigation, #headerLanguage, #headerSearch, #headerFocus, #footer, aside {
		display: none;
	}

	#printLogo {
		display: block;
	}

	body {
		font-family: Arial, sans-serif;
		font-size: 12pt;
		background: #FFF;
		border: none;
	}

	p {
		padding: 0 0 20px 0;
	}

	ul, ol {
		padding: 0 0 20px 30px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}

	h1 {
		font-size: 20pt;
		padding: 0 0 10px 0;
	}

	h2 {
		font-size: 16pt;
		padding: 0 0 8px 0;
	}

	h3 {
		font-size: 14pt;
		padding: 0 0 6px 0;
	}

	h4 {
		font-size: 12pt;
		padding: 0 0 6px 0;
	}

	blockquote {
		padding-left: 2.5cm;
		font-style: italic;
	}

	table {
		font-family: Arial, sans-serif;
		margin: 0 10px 20px;
		border-top: 1px solid #D9D9D9;
		border-left: 1px solid #D9D9D9;
	}

	table td, th {
		padding: 5px 10px;
		border-right: 1px solid #D9D9D9;
		border-bottom: 1px solid #D9D9D9;
	}

	table th {
		font-weight: 700;
		background: #D9D9D9;
		color: #000;
	}
}